<%- include('./blocks/header.ejs', {bot,user}) %>

<div class="py-5 text-center filter-dark"  style="background-image: url('https://cdn.discordapp.com/icons/521461252317249537/a6fdef19571d5ca8bc9e26810072b803.png?size=128');background-size:cover;background-repeat:no-repeat;">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="d-lg-none"></div>
<center>
<img class="img-fluid rounded-circle mx-auto" style="margin-bottom: 18px; background-color: #fff;" src="https://cdn.discordapp.com/avatars/478730166680420373/029f6476688f2ff7e6915978b141feba.png">
<h4></h4>
<h6>Send all server owners a msg</h6>
</center>
</div>
</div>
</div>
</div>

<div class="py-5 bg-light">
<div class="container">
<div class="row">



<div class="col-md-6"><form method="post">
<div class="card">
<div class="card-body">
<h4>Send a message to all server owners</h4>
<h6 class="text-muted">Please be carfull!!</h6>
<div class="form-group">
<input type="text" name="msg" maxlength="250" class="form-control" placeholder="Type here.." value="" required>
</div>
</div>
</div>
  <center><button type="submit" class="btn btn-primary text-white">Submit</button></center>
  </form>
  </div>
  </div></div></div>