<div class="container-fluid">
    <div class="discord-embed">
    <a onclick="this.parentElement.getElementsByTagName('iframe')[0].toggleAttribute('visible')">
        <i class="fab fa-discord"></i>
    </a>
    <iframe src="https://discordapp.com/widget?id=506268789252554782&theme=dark" width="350" height="500"
            allowtransparency="true" frameborder="0"></iframe>
</div>

<div class="row justify-content-md-center" id="features">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
            <h2 class="thanks-message">Current Bot Lists where Cara is listed or waiting to be approved!</h2>
            <p class="thanks-message-small">
                Here are some links that will you navigate to each list where you can vote for your favourite <b>DISCORD BOT</b>.
            </p>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
            <a target="_blank" href="/discordbw" class="add-link"><img src="https://carabot.net/assets/img/dbw-logo.png"/>&nbsp;&nbsp;Discord Bot World&nbsp;&nbsp;<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></a>
            <a target="_blank" href="/mythicalbl" class="add-link"><img src="https://carabot.net/assets/img/mbl-logo.png"/>&nbsp;&nbsp;Mythical Bot List&nbsp;&nbsp;<i class="fa fa-check-square" aria-hidden="true"></i></a>
			<a target="_blank" href="/bodiscord" class="add-link"><img src="https://carabot.net/assets/img/bod-logo.png"/>&nbsp;&nbsp;Bots on Discord&nbsp;&nbsp;<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></a>
        </div>
    </div>

</div>

<style>
  .add-link,.main-link{display:inline-block;font-size:1.4em;text-decoration:none;font-weight:700}
  .add-link{padding:.8em 1.4em;margin:.2em;border-radius:.2em;background:#fff;color:#2C2F33;transition:all .1s ease}
  .add-link:hover{text-decoration:none;background:#2C2F33;color:#fff}
  .discord-embed{z-index:10;font-size:2em}
  .discord-embed>*{box-shadow:1px 1px 10px 1px rgba(0,0,0,.5)}
  .discord-embed a{display:flex;border-radius:50%;position:fixed;top:1.5vw;left:1.5vw;width:1.5em;height:1.5em;background:#7289DA;transition:background .5s;cursor:pointer}
  .discord-embed a:focus,.discord-embed a:hover{background:#2C2F33}
  .discord-embed a i{vertical-align:middle;padding:.05em 0 0;margin:auto}
  .discord-embed a i::before{line-height:1.5em}
  .discord-embed iframe{position:fixed;top:calc(1.5vw * 2 + 1.5em);left:1.5vw;opacity:0;pointer-events:none;transition:opacity .5s}
  .discord-embed iframe[visible]{opacity:1;pointer-events:auto}
  .header-links.header-links-small{padding-bottom:0}.header-links ul{margin:0 -4rem;list-style:none;padding:0}.header-links ul li+li{border-top:1px solid #ececec}body.dark .header-links ul li+li{border-color:#2C2F33}.header-links ul li a{text-decoration:none;color:#333;display:block;padding:1em 1.5em;transition:all .1s ease}body.dark .header-links ul li a{color:#fff}.header-links ul li a i{width:1.75em}.header-links ul li a[href]:hover{padding-left:2.5em}.header-links .link-feature{background:#AAB2BD;background:-webkit-linear-gradient(45deg,#AAB2BD,#AAB2BD,transparent);background:linear-gradient(45deg,#AAB2BD,#AAB2BD,transparent);box-shadow:inset 0 0 15px 2px rgba(0,0,0,.25);font-weight:700}.header-links .link-feature a{color:#111!important}.header-links .link-feature-subtle{background:rgba(0,0,0,.2);box-shadow:inset 0 0 15px 2px rgba(0,0,0,.25)}body.dark .header-links .link-feature-subtle{background:rgba(255,255,255,.2)}
</style>